.vscode
__pycache__
pretrain_models
logs
test.ipynb
test.py
data/TlkPersonaChatRus/TolokaPersonaChat_gk.jsonl
data/TlkPersonaChatRus/TolokaPersonaChat_gk(test).jsonl
data/TlkPersonaChatRus/TolokaPersonaChat_gk(test)v2.jsonl
data/TlkPersonaChatRus/TolokaPersonaChat_gk(train).jsonl
data/TlkPersonaChatRus/TolokaPersonaChat.jsonl
